body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 600px;
    text-align: center;
}

.table th, .table td {
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
}

th {
    background-color: #d9d9d9;
}

.red {
    background-color: red;
    color: white;
}

.beige {
    background-color: #ffff99;
}

.yellow {
    background-color: #ffff66;
}

.scroll {
    background-color: #ffff99;
    width: 180px;
    height: 80px;
    overflow: auto;
}

.center {
    text-align: center;
}



